{{#each accountList}}
<h1>Account: <a href="/accounts/{{@index}}">{{ name }}</a> - Balance: ${{balance}}</h1>
{{/each}}
<input type="text" value="name" name="name" id="">
<input type="text" value="balance" name="name" id="">
<input type="text" value="isActive" name="name" id="">