<h1>Your Account Summary</h1>
{{#each accountList}}
<h2>Account: <a href="/accounts/{{@index}}">{{ name }}</a> - Balance: ${{balance}}</h2>
{{/each}}

<h3><a href="/accounts/new">Setup New Account</a>
</h3>

<a href="/accounts">go back</a>