{{#each account}}


<h1>account {{ name }} balance {{balance}}</h1>
{{/each}}

<input type="text" value="name" name="name" id="">
<input type="text" value="balance" name="name" id="">
<input type="text" value="isActive" name="name" id="">