

<form action="/accounts/new" method="POST">
    <input type="text" value="name" name="name" id="">
    <input type="number" value="balance" name="balance" id="">
    <input type="text" value="isActive" name="true or false" id="">
    <input type="submit" value="New Account" name="New Account">
</form>
<a href="/accounts">go back</a>